@import "menu.scss", "variables.scss", "hero.scss", "svg-scroll.scss","deskPad.scss","quote.scss","footer.scss","carrousel.scss","faq.scss";

html, body { 
    position: relative;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}