@import "variables.scss";

.quote {
    background-color: #212121;
    padding: 100px 20px 100px 20px;
}

.quote__h4 {
    font-family: $fuente;
    color: #444444;
    font-size: 1.6rem;
    text-align: center;
    font-style: italic;
    font-weight: 500;
    opacity: 0;
    transform: translate(0px, 50px);
    transition: all 1s ease-in-out;
}

.quote__h4--active {
    opacity: 1;
    transform: translate(0%);
}